* {
    margin: 0;
    padding: 0;
}

.pos-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.chart {
    display: block;
    border: 1px solid #ccc;
}

.chart-circle {
    width: 200px;
    height: 200px;
}

.chart-circle #canvas_1 {
    z-index: 1;
}

.chart-circle #canvas_2 {
    z-index: 2;
    background: transparent;
    transform: rotate(-90deg);
}
