$mainColor:#0097ff;
$mainBgColor:#f8f8f8;
$mainTextColor:#838383;
$mainActive:#22a9ff;
$mainBorderColor:#b2b2b2;
$deepBg:#474749;
// $mainColor:orange;
// $mainBgColor:#f8f8f8;
// $mainTextColor:pink;
// $mainActive:#F66;
// $mainBorderColor:#999
